.card {
  max-width: 282px;
  border-radius: 12px;
  background-color: rgba(32, 40, 62, 0.8);
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.card .imageContainer {
  padding: 8px;
  position: relative;
}
.card .imageContainer > .image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.card .imageContainer > .image:hover {
  transform: scale(1.1);
}
.card .imageContainer .rating {
  z-index: 10;
  position: absolute;
  top: 18px;
  left: 18px;
}

.card .detail {
  padding: 1rem;
}
.card .detail p {
  color: #ebeef5;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
}
